<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN</title>
    <link rel="stylesheet" href="../Static/CSS/Dash.css">
    <meta name="viewport" content="width-device-width,initial-scale-1.0">
  </head>
  <body style="background-image: url(../Static/Images/IPL.jpg); background-size: 1200px;background-attachment: fixed;background-repeat: no-repeat;">
    <div class="Login">
      <h1>LOGIN</h1>
      <h2>Enter Your Username & Password</h2>
      <form action="Resume.html" target="_blank">
        <label>Username :</label>
        <input type="text" placeholder="Enter Username" align="middle" required /><br /><br />

        <label>Password :</label>
        <input
          type="password"
          placeholder="Enter Password"
          align="middle"
          required
        /><br /><br />

        <input type="submit" /><br /><br />

        <a href="Reg.html" style="color: black;">Join Now</a><br>
      </form>
    </div>
  </body>
</html>
