<!DOCTYPE html>
<html>
    <head>
        <title>IPLT20</title>
        <meta name="viewport" content="width-device-width,initial-scale-1.0">
    </head>
    <body style="background-image: url(../Static/Images/IPL.jpg); background-size: 1200px;background-attachment: fixed;background-repeat: no-repeat;"">
      <center><h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">IPLT20 FANDOM</h1></center>
      <a href="../Template/Dash.html" style="float: right;">Login</a> <br>
      <a href=""https://api.whatsapp.com/send?phone=+916381926704"" style="float: right;">WhatsApp</a><br>
      <a href="mailto:im.sakthi.cse@gmail.com" style="float: right;">e-Mail</a>
    </body>
</html>