<!DOCTYPE html>
<html>
  <head>
    <title>Reg</title>
    <link rel="stylesheet" href="../Static/CSS/Dash.css">
    <meta name="viewport" content="width-device-width,initial-scale-1.0">
  </head>
  <body style="background-image: url(../Static/Images/IPL.jpg); background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
    <div class="Register">
      <h1>Register</h1>
      <h2>Enter The Details</h2>
      <form action="Dash.html" target="_blank">
        <label>First Name :</label>
        <input type="text" placeholder="Enter First Name" required /><br /><br />

        <label>Last Name :</label>
        <input type="text" placeholder="Enter Last Name" required /><br /><br />

        <label>Age :</label>
        <input type="number" placeholder="Enter Age" required /><br /><br />

        <label>Gender :</label>
        <input type="radio" id="Gender1" name="Gender" value="Male">
        <label for="Gender1">Male</label>
        <input type="radio" id="Gender2" name="Gender" value="Female">
        <label for="Gender1">Female</label>
        <input type="radio" id="Gender3" name="Gender" value="Others">
        <label for="Gender3">Others</label><br><br>

        <label>Username :</label>
        <input type="text" placeholder="Enter Username"  required /><br /><br />

        <label>Password :</label>
        <input type="text" placeholder="Enter Password" required /><br /><br />

        <label>Re-enter Password :</label>
        <input type="text" placeholder="Enter Password" required /><br /><br />

        <input type="submit">
      </form>
    </div>
  </body>
</html>
